<div style="text-align:center; width:100%; border:1px dotted #ccc; background-color:white;">
  <div style="font-size:14px; padding:3px;"> 
    <%=tr("Daily Active Users", "Dashboard section header") %>
	</div>
	
	<!-- %= daily_active_users_chart(app)% -->
  <div id="daily_active_users_chart_<%=app.id%>">
  </div>
  
  <script type="text/javascript">
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Year');
    data.addColumn('number', 'Active Users');
    data.addRows(4);
    data.setValue(0, 0, '2004');
    data.setValue(0, 1, 1000);
    data.setValue(1, 0, '2005');
    data.setValue(1, 1, 1170);
    data.setValue(2, 0, '2006');
    data.setValue(2, 1, 860);
    data.setValue(3, 0, '2007');
    data.setValue(3, 1, 1030);

    var chart = new google.visualization.LineChart(document.getElementById("daily_active_users_chart_<%=app.id%>"));
    chart.draw(data, {width: 450, height: 200});
  </script>
	
  <div style="margin:10px; color:#ccc; text-align:center; width:100%;">
      <%=tr("The stats are calculated near realtime", "Dashboard section header")%>
  </div>
</div>