<%= render :partial => "/platform/developer/common/header" %>

<div class="section_title">
   <%= tr('Resources', 'Client application section title') %> 
</div>

<div class="section_box">

<h4>API Documentation and Test Tools</h4>

<p>
The API documentation can be viewed here: <%=link_to("http://api-preview.geni.com", "http://api-preview.geni.com")%>
</p>
<p>
API test tools are located here:
</p>
  	
	
	
	
</div>

<%= render :partial => "/platform/developer/common/footer" %>
