<%= render :partial => "/platform/developer/common/header" %>

<div class="apps_header">
   <%= tr('Developers Blog', 'Client application section title') %> 
</div>

<%= render :partial => "/platform/developer/common/footer" %>
