<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" name="viewport">
	<%= stylesheet_link_tag "platform/platform" %>
	<%= stylesheet_link_tag "platform/oauth" %>
	
</head>
<body style="margin:0px;">

	<%= render :partial => "authorization_box" %>

</body>
</html>
