<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" name="viewport">
</head>
<body style="margin:0px;">
  <div style="width:100%; margin-bottom:0px;">
    <div style="background:url('/platform/images/oauth/perm_tile.gif'); height:10px;">&nbsp;</div>
    
    <div style="margin:10px; text-align:left;">
      <div style="border-bottom:1px solid #ccc; font-size:14px; font-weight:bold;">
        <%=tr("Authorization Failure")%>
      </div>
      
      <div style="margin-top:10px;margin-bottom:10px;font-size:11px;">
        <%=@message%>
      </div>
    </div>
    
  </div>
</body>
</html>
