<%= render :partial => "header" %>

<style>
  table.documentation_table img { max-width:150px; }
  td  { padding:10px; }
</style>

<div class="documentation_section_title">
  <%= tr("Branding Guidelines") %>
</div>

<div class="documentation_section">
  <%=render :partial => "/company/branding", :locals => {:title => false} %>
</div>

<%= render :partial => "footer" %>
