<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Trusted Application Authorization Flow") %>
</div>

<div class="documentation_section">
  
</div>

<%= render :partial => "footer" %>
