<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Server Side Authentication Flow") %>
</div>

<div class="documentation_section">
  
</div>

<%= render :partial => "footer" %>
