<%=platform_scripts_tag %>

<style>
  .app_fields {
    font-size:12px;
    border: 1px dotted #ccc; 
    padding:10px; 
    background: #fafafa;
    margin-bottom:20px; 
  }

  .app_fields th {
    padding-top:5px;
    padding-right:15px;
    white-space: nowrap;
  }

  .app_fields td {
    padding-top:5px;
    padding-right:15px;
  }
  
  .comments {
    color: #666;
    font-size: 10px;
  }
  
  .platform td {
    vertical-align:top;
  }

  .platform th {
    vertical-align:top;
    text-align:right;
  }
  
  .apps_header {
    padding-bottom:5px;
    margin-bottom:5px;
    font-size:14px;
    border-bottom: 1px solid #ccc;
    font-weight:bold;
  }
	
  .edit_header {
    background-color:#eee;
    padding:5px;width:100%;margin-bottom:10px;
  }	
</style>

<% if platform_developer_tabs.size > 1 %>
	<div class="translations_navigation" dir="ltr">
	  <div style="font-size:22px; font-weight: bold;padding-bottom:15px;">
		  <%=trl("Platform Developer Tools", "Platform developer tools label")%>
		</div>
	
	  <ul class="translations_tab_nav translations_tabs">
	      <% platform_developer_tabs.each do |tab| %>
	        <%  classes = []
	            current = (tab["controller"] == controller.controller_name)
	
	            classes << "current" if current
	            if platform_developer_tabs.first == tab
	              classes << "first" 
	              classes << "first_current" if current
	            elsif platform_developer_tabs.last == tab
	              classes << "last"
	              classes << "last_current" if current
	            end   
	        %>
	        
	        <li class="<%=classes.join(' ') %>">
	          <%=link_to(trl(tab["title"], tab["description"]), "/platform/developer/#{tab["controller"]}")%>
	        </li>
	
	      <% end %>
	  </ul>
	</div>
<% end %>
<div class="platform" dir="ltr">
  