<div class="module page_title lengthy">
  <div class="inner">
    <div class="hd">
      <span style="float:right">
         <%=link_to(tr('+ Register New Application', 'Client application action label'), {:action=>:new}, :class=>'button super blue medium') %>
      </span>
      <h1><%= tr('Developers Blog', 'Client application section title') %></h1>
    </div>
  </div>
</div>
