<div class="section">
  <div style="color:#888; padding-bottom:8px; font-size:12px; font-weight:bold;">
	   <%=tr("Category")%>
	</div>
	
  <div style="color:#666; font-size:11px;">
    All Applications	
  </div>
</div>
