<tr id="suggested_following_<%= app.class_and_id -%>">
  <td class="txt_m">
    <div class="media">
      <%= image_tag(app.logo_url, :class => "icn projects_icn img", :style => "width:75px;height:75px;") %>
      <div class="bd strong">
        <%= link_to h(app.name), app.url %>
      </div>
			<div style="color:#ccc;">
				<%= app.description %>
			</div>
    </div>
  </td>
</tr>