<div id="suggested_following_module" class="bd">
  <% if @apps.any? %>
    <table class="segmented_table">
      <% @apps.each do |app| %>
        <%= render :partial => "/apps/featured_app", :locals => {:app => app} %>
      <% end %>
    </table>
  <% else %>
    <div style="padding-top:10px; font-size: 11px;">
      <%=tr("There are no featured apps at this time.")%>
    </div>
  <% end %>
</div>