<% if app.application_categories.any? %>
	<% app.application_categories.each do |ac| %>
	   <div style="padding-bottom:1px;">
	   	  	<%=ac.category.full_name%> <%= ac.featured? ? "<strong>(featured)</strong>" : "" %> - 
					<%
					  html = []
	          if ac.featured? 
	            html << link_to_function("Unfeature", "makeFeatured(#{app.id}, #{ac.id}, false)")
	          else
	            html << link_to_function("Feature", "makeFeatured(#{app.id}, #{ac.id}, true)")
	          end 
	          html << link_to_function("Delete", "assignCategory(#{app.id}, #{ac.category.id}, false)")
	        %>
					<%=html.join(" | ")%>
			</div>		 
	<% end %>
<% end %>