<!DOCTYPE html>
<html>
<head>
  <title>Platform</title>
  <%= stylesheet_link_tag    "platform/application" %>
  <%= javascript_include_tag "platform/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
