<div class="page_head">
  <div class="page_fixed">
    <div class="mrgn_h">
      <%= platform_user_login_tag(:class => "flt_r horiz_list top_nav") %>
      <h1 class="logo"><%=link_to(tr("Platform", "Application title"), {:controller => "/platform/home"}, :style=>"text-decorations:none;")%></h1>
    </div>
  </div>
</div>

<div class="page_fixed">
    <%= tr8n_flashes_tag %>
</div>
