<title><%=trl("Platform Engine Plugin", "Application title")%></title>
<%= stylesheet_link_tag("platform/layout.css") %>
<%= stylesheet_link_tag("platform/components.css") %>

<%= tr8n_scripts_tag %>   